
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593085826485846951.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-593085826485846951.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-593085826485846951.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593085826485846951.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593085826485846951.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593085826485846951.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593085826485846951.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593085826485846951.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593085826485846951.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593085826485846951.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593085826485846951.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593085826485846951.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593085826485846951.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593085826485846951.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593085826485846951.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-593085826485846951.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-593085826485846951.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-593085826485846951.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593085826485846951.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593085826485846951.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593085826485846951.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593085826485846951.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-593085826485846951.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593085826485846951.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593085826485846951.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593085826485846951.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593085826485846951.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593085826485846951.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-593085826485846951.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593085826485846951.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593085826485846951.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593085826485846951.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-593085826485846951.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-593085826485846951.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-593085826485846951.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-593085826485846951.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593085826485846951.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593085826485846951.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-593085826485846951.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-593085826485846951.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-593085826485846951.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-593085826485846951.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-593085826485846951.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593085826485846951.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593085826485846951.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593085826485846951.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593085826485846951.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593085826485846951.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593085826485846951.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593085826485846951.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-593085826485846951.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-593085826485846951.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593085826485846951.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-593085826485846951.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-593085826485846951.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593085826485846951.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593085826485846951.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-593085826485846951.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-593085826485846951.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593085826485846951.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593085826485846951.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-593085826485846951.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-593085826485846951.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-593085826485846951.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-593085826485846951.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-593085826485846951.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-593085826485846951.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-593085826485846951.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-593085826485846951.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-593085826485846951.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-593085826485846951.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-593085826485846951.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-593085826485846951.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-593085826485846951.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-593085826485846951.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-593085826485846951.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-593085826485846951.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-593085826485846951.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-593085826485846951.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-593085826485846951.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-593085826485846951.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-593085826485846951.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-593085826485846951.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593085826485846951.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-593085826485846951.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593085826485846951.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-593085826485846951.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-593085826485846951.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-593085826485846951.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-593085826485846951.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-593085826485846951.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-593085826485846951.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-593085826485846951.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-593085826485846951.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-593085826485846951.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-593085826485846951.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-593085826485846951.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-593085826485846951.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-593085826485846951.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-593085826485846951.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-593085826485846951 .gp-relative{position:relative}.gps-593085826485846951 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593085826485846951 .gp-mb-0{margin-bottom:0}.gps-593085826485846951 .gp-inline-block{display:inline-block}.gps-593085826485846951 .gp-flex{display:flex}.gps-593085826485846951 .gp-grid{display:grid}.gps-593085826485846951 .gp-contents{display:contents}.gps-593085826485846951 .\!gp-hidden{display:none!important}.gps-593085826485846951 .gp-hidden{display:none}.gps-593085826485846951 .gp-h-auto{height:auto}.gps-593085826485846951 .gp-h-full{height:100%}.gps-593085826485846951 .gp-w-full{width:100%}.gps-593085826485846951 .gp-max-w-full{max-width:100%}.gps-593085826485846951 .gp-flex-none{flex:none}.gps-593085826485846951 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593085826485846951 .gp-flex-col{flex-direction:column}.gps-593085826485846951 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593085826485846951 .gp-duration-200{transition-duration:.2s}.gps-593085826485846951 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-593085826485846951 .tablet\:\!gp-hidden{display:none!important}.gps-593085826485846951 .tablet\:gp-hidden{display:none}.gps-593085826485846951 .tablet\:gp-h-auto{height:auto}.gps-593085826485846951 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-593085826485846951 .mobile\:\!gp-hidden{display:none!important}.gps-593085826485846951 .mobile\:gp-hidden{display:none}.gps-593085826485846951 .mobile\:gp-h-auto{height:auto}.gps-593085826485846951 .mobile\:gp-flex-none{flex:none}}.gps-593085826485846951 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gE2hhrq3L_"}' data-id="gE2hhrq3L_" id="gE2hhrq3L_" data-same-height-subgrid-container class="gE2hhrq3L_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:12px;--pr:0px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:12px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goB_2GH-Fr gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_AuCInMG7"
        class="g_AuCInMG7"
        style="--ta:center;--ta-mobile:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mt-mobile:10px;--ml-mobile:var(--g-s-xs);--mb-mobile:21px;--mr-mobile:var(--g-s-xs);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042733488"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:700;--size:28px;--size-tablet:28px;--size-mobile:19px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:5px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_AuCInMG7_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdiFJX6An1"
        class="gdiFJX6An1"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:20px;--pr:20px;--ml-mobile:var(--g-s-s);--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042733489"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdiFJX6An1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gdiFJX6An1">
        .gdiFJX6An1 {

}
.gdiFJX6An1 p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gkwItF-YpU"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:var(--g-s-s);--mr-mobile:var(--g-s-s);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042733489 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gkwItF-YpU"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "fewwec.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "fewwec.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "fewwec.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "fewwec.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:790/600;--aspect-tablet:790/600;--aspect-mobile:4/3;--objf:cover;--objf-mobile:cover;--w:790px;--w-tablet:790px;--w-mobile:400%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gq2q11025-"}' data-id="gq2q11025-" id="gq2q11025-" data-same-height-subgrid-container class="gq2q11025- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:830px;--w-tablet:830px;--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGAl_rwNu3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gaC_SbAD04"}' data-id="gaC_SbAD04" id="gaC_SbAD04" data-same-height-subgrid-container class="gaC_SbAD04 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#D1D1D1;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--bblr-mobile:200px;--bbrr-mobile:200px;--btlr-mobile:200px;--btrr-mobile:200px;--mr:auto;--pt:11px;--pl:15px;--pb:11px;--pr:15px;--mb-mobile:21px;--mr-mobile:auto;--pt-mobile:5px;--pl-mobile:13px;--pb-mobile:5px;--pr-mobile:13px;--cg:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:790px;--w-tablet:790px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gO-xX6HCbH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gV05Ib0wyf"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042733496 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gV05Ib0wyf"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Scherm_afbeelding_2025-11-13_om_13.48.14.png" | file_url }}" srcset="{{ "Scherm_afbeelding_2025-11-13_om_13.48.14.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Scherm_afbeelding_2025-11-13_om_13.48.14.png" | file_url }}" srcset="{{ "Scherm_afbeelding_2025-11-13_om_13.48.14.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Scherm_afbeelding_2025-11-13_om_13.48.14.png" | file_url }}" data-src="{{ "Scherm_afbeelding_2025-11-13_om_13.48.14.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:transparent;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gV05Ib0wyf">
        .gV05Ib0wyf {

}
.gV05Ib0wyf > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g6yruSZ6rR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVtMp41KuX"
        class="gVtMp41KuX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042733498"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVtMp41KuX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gVtMp41KuX">
        .gVtMp41KuX {

}
.gVtMp41KuX p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYrz6-tdGo"
        class="gYrz6-tdGo"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--ml-mobile:var(--g-s-s);--mb-mobile:21px;--mr-mobile:var(--g-s-s);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042733499"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYrz6-tdGo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gYrz6-tdGo">
        .gYrz6-tdGo {

}
.gYrz6-tdGo p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"uid":"gLnJ8Je42W"}' data-id="gLnJ8Je42W" id="gLnJ8Je42W" data-same-height-subgrid-container class="gLnJ8Je42W gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2Om1FRPYD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gZ7_lKIOie"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042733506 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gZ7_lKIOie"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Jouw_alineatekst_c534db73-ce80-4d82-a336-b2ecc4f42fa9.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "istockphoto-177238830-612x612.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQ1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTQ1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQ1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQ1OSIgZmlsbD0idXJsKCNnLTYxMi00NTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "istockphoto-177238830-612x612.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQ1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTQ1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQ1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQ1OSIgZmlsbD0idXJsKCNnLTYxMi00NTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "istockphoto-177238830-612x612.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:cover;--w:790px;--w-tablet:790px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gR8t2l4U-E"
        class="gR8t2l4U-E"
        style="--ta:center;--ta-tablet:center;--ta-mobile:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042733508"
      >
      <div class="gp-flex" style="--jc:center;--jc-tablet:center;--jc-mobile:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:150px;--pr:Auto;--pt:Auto;--pb:Auto;--pl-mobile:Auto;--pr-mobile:Auto;--pt-mobile:Auto;--pb-mobile:Auto;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggR8t2l4U-E_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gTbVPYx1rb"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:21px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042733508 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gTbVPYx1rb"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "istockphoto-678970266-612x612.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTQwOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgZmlsbD0idXJsKCNnLTYxMi00MDgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Jouw_alineatekst_c534db73-ce80-4d82-a336-b2ecc4f42fa9.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Jouw_alineatekst_c534db73-ce80-4d82-a336-b2ecc4f42fa9.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Jouw_alineatekst_c534db73-ce80-4d82-a336-b2ecc4f42fa9.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:auto;--objf:contain;--w:790px;--w-tablet:790px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gTbVPYx1rb">
        .gTbVPYx1rb {

}
.gTbVPYx1rb > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNGvm1tsY9"
        class="gNGvm1tsY9"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042733509"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNGvm1tsY9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gNGvm1tsY9">
        .gNGvm1tsY9 {

}
.gNGvm1tsY9 p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gra3pVAtFL"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:21px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042733510 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gra3pVAtFL"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Jouw_alineatekst_1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Jouw_alineatekst_1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Jouw_alineatekst_1.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Jouw_alineatekst_1.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:790px;--w-mobile:790px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gra3pVAtFL">
        .gra3pVAtFL {

}
.gra3pVAtFL > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTTa7QGXNt"
        class="gTTa7QGXNt"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042733510"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTTa7QGXNt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gTTa7QGXNt">
        .gTTa7QGXNt {

}
.gTTa7QGXNt p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"uid":"gcbGWnoj09"}' data-id="gcbGWnoj09" id="gcbGWnoj09" data-same-height-subgrid-container class="gcbGWnoj09 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:13px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaFbGveN4i gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="goe7uI2AJL"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042733513 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto goe7uI2AJL"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "VK3RNYFNR3PLTSQNVXESHYHAYY.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTcyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NzIiIGZpbGw9InVybCgjZy0xNDQwLTk3MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "VK3RNYFNR3PLTSQNVXESHYHAYY.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTcyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NzIiIGZpbGw9InVybCgjZy0xNDQwLTk3MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "VK3RNYFNR3PLTSQNVXESHYHAYY.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTcyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NzIiIGZpbGw9InVybCgjZy0xNDQwLTk3MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "VK3RNYFNR3PLTSQNVXESHYHAYY.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:790px;--w-mobile:790px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-593085826485846951 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0fny1k-ba/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593085826368275367&sectionId=593085826485846951)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg_AuCInMG7_text","label":"gg_AuCInMG7_text","default":"<span style=\"font-size:22px;\"><strong>Why Your Shoes Still Smell (and the Easy Fix That Makes Them Smell Like Nothing Overnight)</strong></span>"},{"type":"html","id":"ggdiFJX6An1_text","label":"ggdiFJX6An1_text","default":"<p><span style=\"color:#FF0000;\">If taking your shoes off around other people makes you anxious, this is for you.</span></p>"},{"type":"html","id":"ggVtMp41KuX_text","label":"ggVtMp41KuX_text","default":"<p>November 11, 2025 By Hunter Anderson</p>"},{"type":"html","id":"ggYrz6-tdGo_text","label":"ggYrz6-tdGo_text","default":"<p><span style=\"font-size:18px;\"><strong>Id plan my evenings around keeping my shoes on.</strong></span></p><p>&nbsp;</p><p>You shower. Your socks are clean. But the second your shoes come off, at a friends place, a dates apartment, even on a plane... you tense up.&nbsp;</p><p>&nbsp;</p><p>Youve tried the usual suspects: sprays, powders, even tossing a pair you loved. The problem keeps coming back.</p><p>&nbsp;</p><p>This page isnt about masking the smell. Its about <strong>ending</strong> the cycle in a way that feels invisible and easy.</p>"},{"type":"html","id":"ggR8t2l4U-E_text","label":"ggR8t2l4U-E_text","default":"<p><span style=\"font-size:19px;\"><strong>Discovery #1: Its not bad hygiene. Its trapped moisture.</strong></span></p><p>&nbsp;</p><p>Inside every shoe is a tiny micro-climate. After a day of walking, commuting, or working, <strong>moisture</strong> gets trapped in the lining and insole.&nbsp;</p><p>&nbsp;</p><p>That moisture lets odor-causing bacteria thrive, and the molecules they release <strong>cling</strong> to the materials.</p><p>&nbsp;</p><p>Perfume cant change that. Opening a window cant change that.</p><p><br>Until the <strong>moisture is gone</strong> and those molecules are <strong>captured</strong>, the smell returns.</p><p>&nbsp;</p><p><strong>Bottom line:</strong> Remove the moisture  the odor drops with it.<br>&nbsp;</p>"},{"type":"html","id":"ggNGvm1tsY9_text","label":"ggNGvm1tsY9_text","default":"<p><span style=\"font-size:19px;\"><strong>Discovery #2: Drying alone isnt enough. Capture the odor too.</strong></span></p><p>&nbsp;</p><p>Air-drying helps, but it doesnt grab the smelly compounds already soaked into the fabric.&nbsp;</p><p>&nbsp;</p><p>Thats why leave them by the door works until it doesnt.&nbsp;</p><p>&nbsp;</p><p>You need a way to both <strong>pull moisture out</strong> and <strong>lock odor molecules away, </strong>without adding perfume, residue, or hassle.</p>"},{"type":"html","id":"ggTTa7QGXNt_text","label":"ggTTa7QGXNt_text","default":"<p><span style=\"font-size:19px;\"><strong>Meet the quiet fix embarrassed adults swear by: The Neutralizer</strong></span></p><p>&nbsp;</p><p>Think of The Neutralizer as a tiny <strong>dehumidifier + odor magnet</strong> for your shoes. Its a pair of mineral-powered pouches you drop in at night.</p><p>&nbsp;</p><p><strong>Pulls Moisture:</strong> A high-surface-area mineral blend draws out the dampness that keeps odor alive.</p><p>&nbsp;</p><p><strong>Adsorbs Odor Molecules:</strong> The same mineral structure <strong>traps</strong> the compounds that make shoes reek, so you dont just cover them up.</p><p>&nbsp;</p><p><strong>Wakes Up Neutral:</strong> By morning, most people report their shoes smell like <strong>nothing</strong>.&nbsp;</p><p>&nbsp;</p><p>Not flowers. Not fresh linen. Just <strong>neutral</strong>.</p><p>No sprays. No powder paste. No wet mess.</p><p>&nbsp;</p><p>&nbsp;</p><p><span style=\"font-size:15px;\"><i><strong>I stopped thinking about it.</strong></i></span></p><p><i>I used to dread taking my shoes off around people. Sprays and powders made it smell like perfumed funk. The Neutralizer is the only thing that <strong>eliminated</strong> the smell. Now I dont even think about it. - <strong>Timothy P.</strong></i></p><p>&nbsp;</p><p>(Thats the goal: <strong>forget</strong> it was ever a problem.)</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}