
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-592942777382208240.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-592942777382208240.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-592942777382208240.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-592942777382208240.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-592942777382208240.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-592942777382208240.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-592942777382208240.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-592942777382208240.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-592942777382208240.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-592942777382208240.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-592942777382208240.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-592942777382208240.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-592942777382208240.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-592942777382208240.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-592942777382208240.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-592942777382208240.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-592942777382208240.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-592942777382208240.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-592942777382208240.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-592942777382208240.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-592942777382208240.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-592942777382208240.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-592942777382208240.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-592942777382208240.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-592942777382208240.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-592942777382208240.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-592942777382208240.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-592942777382208240.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-592942777382208240.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-592942777382208240.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-592942777382208240.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-592942777382208240.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-592942777382208240.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-592942777382208240.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-592942777382208240.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-592942777382208240.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-592942777382208240.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-592942777382208240.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-592942777382208240.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-592942777382208240.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-592942777382208240.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-592942777382208240.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-592942777382208240.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-592942777382208240.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-592942777382208240.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-592942777382208240.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-592942777382208240.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-592942777382208240.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-592942777382208240.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-592942777382208240.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-592942777382208240.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-592942777382208240.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-592942777382208240.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-592942777382208240.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-592942777382208240.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-592942777382208240.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-592942777382208240.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-592942777382208240.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-592942777382208240.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-592942777382208240.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-592942777382208240.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-592942777382208240.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-592942777382208240.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-592942777382208240.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-592942777382208240.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-592942777382208240.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-592942777382208240.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-592942777382208240.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-592942777382208240.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-592942777382208240.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-592942777382208240.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-592942777382208240.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-592942777382208240.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-592942777382208240.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-592942777382208240.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-592942777382208240.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-592942777382208240.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-592942777382208240.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-592942777382208240.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-592942777382208240.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-592942777382208240.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-592942777382208240.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-592942777382208240.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-592942777382208240.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-592942777382208240.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-592942777382208240.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-592942777382208240.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-592942777382208240.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-592942777382208240.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-592942777382208240.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-592942777382208240.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-592942777382208240.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-592942777382208240.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-592942777382208240.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-592942777382208240.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-592942777382208240.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-592942777382208240 .gp-pointer-events-none{pointer-events:none}.gps-592942777382208240 .gp-absolute{position:absolute}.gps-592942777382208240 .gp-relative{position:relative}.gps-592942777382208240 .gp-inset-0{inset:0}.gps-592942777382208240 .gp-z-1{z-index:1}.gps-592942777382208240 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592942777382208240 .gp-mb-0{margin-bottom:0}.gps-592942777382208240 .gp-inline-block{display:inline-block}.gps-592942777382208240 .gp-flex{display:flex}.gps-592942777382208240 .gp-inline-flex{display:inline-flex}.gps-592942777382208240 .gp-grid{display:grid}.gps-592942777382208240 .gp-contents{display:contents}.gps-592942777382208240 .\!gp-hidden{display:none!important}.gps-592942777382208240 .gp-hidden{display:none}.gps-592942777382208240 .gp-h-auto{height:auto}.gps-592942777382208240 .gp-h-full{height:100%}.gps-592942777382208240 .gp-w-full{width:100%}.gps-592942777382208240 .gp-w-max{width:-moz-max-content;width:max-content}.gps-592942777382208240 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-592942777382208240 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-592942777382208240 .gp-max-w-full{max-width:100%}.gps-592942777382208240 .gp-flex-1{flex:1 1 0%}.gps-592942777382208240 .gp-flex-none{flex:none}.gps-592942777382208240 .gp-shrink-0{flex-shrink:0}.gps-592942777382208240 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592942777382208240 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-592942777382208240 .gp-flex-col{flex-direction:column}.gps-592942777382208240 .gp-flex-wrap{flex-wrap:wrap}.gps-592942777382208240 .gp-items-center{align-items:center}.gps-592942777382208240 .gp-justify-center{justify-content:center}.gps-592942777382208240 .gp-overflow-hidden{overflow:hidden}.gps-592942777382208240 .gp-break-words{overflow-wrap:break-word}.gps-592942777382208240 .gp-text-center{text-align:center}.gps-592942777382208240 .gp-leading-\[0\]{line-height:0}.gps-592942777382208240 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-592942777382208240 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-592942777382208240 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-592942777382208240 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-592942777382208240 .gp-no-underline{text-decoration-line:none}.gps-592942777382208240 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592942777382208240 .gp-duration-200{transition-duration:.2s}.gps-592942777382208240 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592942777382208240 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-592942777382208240 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-592942777382208240 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-592942777382208240 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-592942777382208240 .tablet\:\!gp-hidden{display:none!important}.gps-592942777382208240 .tablet\:gp-hidden{display:none}.gps-592942777382208240 .tablet\:gp-h-auto{height:auto}.gps-592942777382208240 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-592942777382208240 .mobile\:\!gp-hidden{display:none!important}.gps-592942777382208240 .mobile\:gp-hidden{display:none}.gps-592942777382208240 .mobile\:gp-h-auto{height:auto}.gps-592942777382208240 .mobile\:gp-flex-none{flex:none}}.gps-592942777382208240 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-592942777382208240 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-592942777382208240 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-592942777382208240 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-592942777382208240 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-592942777382208240 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyv29OSiET"}' data-id="gyv29OSiET" id="gyv29OSiET" data-same-height-subgrid-container class="gyv29OSiET gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pl:20px;--pb:48px;--pr:20px;--pt-mobile:14px;--pb-mobile:70px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geM5m5vgBS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2E3A29","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false},"mobile":{"attachment":"scroll","color":"#2E3A29","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGALJpxXZg"}' data-id="gGALJpxXZg" id="gGALJpxXZg" data-same-height-subgrid-container class="gGALJpxXZg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:dashed;--bw:1px 1px 1px 1px;--bc:#AAAAAA;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:31px;--pl:31px;--pb:31px;--pr:31px;--pt-mobile:42px;--pl-mobile:23px;--pb-mobile:42px;--pr-mobile:23px;--cg:8px;--gtc:minmax(0, 12fr);--w:790px;--w-tablet:790px;--w-mobile:var(--g-ct-w, 100%);--bgc:#2E3A29;--bgc-mobile:#2E3A29;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVeOQJneqJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWEvq6EgO0"
        class="gWEvq6EgO0"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622643"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:585px;--w-tablet:585px;--w-mobile:585px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--size:28px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWEvq6EgO0_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g6PEdJjgm1"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:21px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042622643 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g6PEdJjgm1"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "3_0a081924-9dae-4daa-88cf-985a1f43901b.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEyNSIgaGVpZ2h0PSIzMTI1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMTI1LTMxMjUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMxMjUiIGhlaWdodD0iMzEyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzEyNSIgaGVpZ2h0PSIzMTI1IiBmaWxsPSJ1cmwoI2ctMzEyNS0zMTI1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzEyNSIgdG89IjMxMjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "3_0a081924-9dae-4daa-88cf-985a1f43901b.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEyNSIgaGVpZ2h0PSIzMTI1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMTI1LTMxMjUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMxMjUiIGhlaWdodD0iMzEyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzEyNSIgaGVpZ2h0PSIzMTI1IiBmaWxsPSJ1cmwoI2ctMzEyNS0zMTI1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzEyNSIgdG89IjMxMjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "3_0a081924-9dae-4daa-88cf-985a1f43901b.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEyNSIgaGVpZ2h0PSIzMTI1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMTI1LTMxMjUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMxMjUiIGhlaWdodD0iMzEyNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzEyNSIgaGVpZ2h0PSIzMTI1IiBmaWxsPSJ1cmwoI2ctMzEyNS0zMTI1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzEyNSIgdG89IjMxMjUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "3_0a081924-9dae-4daa-88cf-985a1f43901b.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--w:354px;--w-tablet:354px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g6PEdJjgm1">
        .g6PEdJjgm1 {

}
.g6PEdJjgm1 > figure > img {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpAZYRKT5v"}' data-id="gpAZYRKT5v" id="gpAZYRKT5v" data-same-height-subgrid-container class="gpAZYRKT5v gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gyrFn5v4Yn gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gpoc8hYH47"  style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g1wZ2cDjOe ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g_IfsNaTLc" class="gp-leading-[0] g_IfsNaTLc" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g_IfsNaTLc" class="icon-wrapper gp-inline-flex gp-overflow-hidden g_IfsNaTLc " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:12px;--h:16px;--h-tablet:16px;--h-mobile:12px;--minw:16px;--minw-tablet:16px;--minw-mobile:12px;--height-desktop:16px;--height-tablet:16px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gtxxq9EdDZ ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gtGpkR5Idp" class="gp-leading-[0] gtGpkR5Idp" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gtGpkR5Idp" class="icon-wrapper gp-inline-flex gp-overflow-hidden gtGpkR5Idp " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:12px;--h:16px;--h-tablet:16px;--h-mobile:12px;--minw:16px;--minw-tablet:16px;--minw-mobile:12px;--height-desktop:16px;--height-tablet:16px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gYHOPtaOzW ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gdIaptlbL3" class="gp-leading-[0] gdIaptlbL3" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gdIaptlbL3" class="icon-wrapper gp-inline-flex gp-overflow-hidden gdIaptlbL3 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:12px;--h:16px;--h-tablet:16px;--h-mobile:12px;--minw:16px;--minw-tablet:16px;--minw-mobile:12px;--height-desktop:16px;--height-tablet:16px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gl84wGaDSB ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gGchKEh_uF" class="gp-leading-[0] gGchKEh_uF" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gGchKEh_uF" class="icon-wrapper gp-inline-flex gp-overflow-hidden gGchKEh_uF " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:12px;--h:16px;--h-tablet:16px;--h-mobile:12px;--minw:16px;--minw-tablet:16px;--minw-mobile:12px;--height-desktop:16px;--height-tablet:16px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gl49CEg9kw ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gAyRyZivDS" class="gp-leading-[0] gAyRyZivDS" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gAyRyZivDS" class="icon-wrapper gp-inline-flex gp-overflow-hidden gAyRyZivDS " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:12px;--h:16px;--h-tablet:16px;--h-mobile:12px;--minw:16px;--minw-tablet:16px;--minw-mobile:12px;--height-desktop:16px;--height-tablet:16px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="522506345308488567" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<rect y="0.199219" width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.45085L2.57031 6.7783H6.71855L7.95013 2.76953L9.37618 6.7783H13.4275L7.95013 11.0334L10.4781 10.2526L11.5801 13.6267L7.95013 11.0334L4.61188 13.6267L5.90846 9.45085Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g5_EeGdLCX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLHS9UPsPU"
        class="gLHS9UPsPU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622652"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLHS9UPsPU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gLHS9UPsPU">
        .gLHS9UPsPU {

}
.gLHS9UPsPU p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gO5vdXk084"
        class="gO5vdXk084"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622653"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:585px;--w-tablet:585px;--w-mobile:585px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggO5vdXk084_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gO5vdXk084">
        .gO5vdXk084 {

}
.gO5vdXk084 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbcMuN5jjh"
        class="gbcMuN5jjh"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622662"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:585px;--w-tablet:585px;--w-mobile:585px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#BE0000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbcMuN5jjh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gbcMuN5jjh">
        .gbcMuN5jjh {

}
.gbcMuN5jjh p {

}
      </style>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:28px" class="gJoHlAPrY0 ">
      
    <gp-countdown-timer
        data-id="gJoHlAPrY0"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"evergreen","dateStandard":1721631531641,"dayLabel":"Day","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hr","loopAfterFinish":true,"minuteLabel":"Min","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Sec","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":"","endTime":1759109929653,"hours":8,"mins":11,"startTime":1721026731641},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gJoHlAPrY0","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"0px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%","mobile":"100%","tablet":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"24px"}},"mobile":{"link":false,"margin":{"bottom":"28px"}}}},"label":"Countdown Timer","settings":{"behaviour":"evergreen","dateStandard":1721631531641,"dayLabel":"Day","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hr","loopAfterFinish":true,"minuteLabel":"Min","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Sec","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":"","endTime":1759109929653,"hours":8,"mins":11,"startTime":1721026731641},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FFFFFF","borderState":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#E0E0E0","isCustom":true,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"27px","itemPadding":{"desktop":{"bottom":"10px","left":"11px","right":"11px","top":"10px"},"mobile":{"bottom":"5px","left":"6px","right":"6px","top":"5px"}},"labelTypo":{"attrs":{"color":"#424242"},"custom":{"fontSize":{"desktop":"16px","mobile":"12px","tablet":"16px"},"fontStyle":"normal","fontWeight":"400","hasShadowText":false,"letterSpacing":{"desktop":"normal"},"lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#242424"},"custom":{"fontSize":{"desktop":"40px","mobile":"24px","tablet":"40px"},"fontStyle":"normal","fontWeight":"400","hasShadowText":false,"letterSpacing":{"desktop":"normal"},"lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gJoHlAPrY0","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:27px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
    <div style="--pl:11px;--pr:11px;--pt:10px;--pb:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJoHlAPrY0-text" id="day"
        class="gJoHlAPrY0"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622664"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJoHlAPrY0-text"
        class="gJoHlAPrY0"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622665"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJoHlAPrY0_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:11px;--pr:11px;--pt:10px;--pb:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJoHlAPrY0-text" id="hour"
        class="gJoHlAPrY0"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622665"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJoHlAPrY0-text"
        class="gJoHlAPrY0"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622665"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJoHlAPrY0_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:11px;--pr:11px;--pt:10px;--pb:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJoHlAPrY0-text" id="minute"
        class="gJoHlAPrY0"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622666"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJoHlAPrY0-text"
        class="gJoHlAPrY0"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622666"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJoHlAPrY0_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:11px;--pr:11px;--pt:10px;--pb:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJoHlAPrY0-text" id="second"
        class="gJoHlAPrY0"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622666"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJoHlAPrY0-text"
        class="gJoHlAPrY0"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622667"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJoHlAPrY0_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <gp-button
      gp-data='{"btnLink":{"link":"https://drodoro.com/products/the-neutralizer","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:28px;--ta:center" >
        <style>[data-id="gw8I0VcYfU"].gp-button-base::before, [data-id="gw8I0VcYfU-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  
    }
  
      
  [data-id="gw8I0VcYfU"]:hover::before, [data-id="gw8I0VcYfU-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  }</style>
        
        <a
          data-id="gw8I0VcYfU" dataId="gw8I0VcYfU" data-state="idle" aria-label="<p>CHECK AVAILABILITY</p>"
          
          href="https://drodoro.com/products/the-neutralizer" target="_self"
          style="--w:585px;--w-tablet:585px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:5px;--pr:5px;--pt:14px;--pb:14px;--pl-mobile:5px;--pr-mobile:5px;--pt-mobile:12px;--pb-mobile:12px;--bblr:200px;--bbrr:200px;--btlr:200px;--btrr:200px;--hvr-bblr:200px;--hvr-bbrr:200px;--hvr-btlr:200px;--hvr-btrr:200px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#005C3C;--bg:#008D5C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase"
          class="gw8I0VcYfU gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggw8I0VcYfU_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gw8I0VcYfU">
        button.gw8I0VcYfU {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giBtnLlOZ6"
        class="giBtnLlOZ6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--mb-mobile:5px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622671"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:23px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiBtnLlOZ6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-giBtnLlOZ6">
        .giBtnLlOZ6 {

}
.giBtnLlOZ6 p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gK1hS9UlMS"}' data-id="gK1hS9UlMS" id="gK1hS9UlMS" data-same-height-subgrid-container class="gK1hS9UlMS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:16px;--cg-mobile:13px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:585px;--w-tablet:585px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyPoiSgINN gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqevMjrof3"
        class="gqevMjrof3"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042622674"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqevMjrof3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gqevMjrof3">
        .gqevMjrof3 {

}
.gqevMjrof3 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gKEljCBPiM gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gLIcP9_Yyr"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042622675 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLIcP9_Yyr"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "CS-GuaranteeBadge.1-1024x1024.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "CS-GuaranteeBadge.1-1024x1024.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "CS-GuaranteeBadge.1-1024x1024.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "CS-GuaranteeBadge.1-1024x1024.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:130px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"uid":"guSK4FgSkZ"}' data-id="guSK4FgSkZ" id="guSK4FgSkZ" data-same-height-subgrid-container class="guSK4FgSkZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLxZ2kFr1p gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://drodoro.com/products/the-neutralizer","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:28px;--ta:center" >
        <style>[data-id="g0MAupBOmg"].gp-button-base::before, [data-id="g0MAupBOmg-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  
    }
  
      
  [data-id="g0MAupBOmg"]:hover::before, [data-id="g0MAupBOmg-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  }</style>
        
        <a
          data-id="g0MAupBOmg" dataId="g0MAupBOmg" data-state="idle" aria-label="<p>CHECK AVAILABILITY</p>"
          
          href="https://drodoro.com/products/the-neutralizer" target="_self"
          style="--w:585px;--w-tablet:585px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:5px;--pr:5px;--pt:14px;--pb:14px;--pl-mobile:5px;--pr-mobile:5px;--pt-mobile:12px;--pb-mobile:12px;--bblr:200px;--bbrr:200px;--btlr:200px;--btrr:200px;--hvr-bblr:200px;--hvr-bbrr:200px;--hvr-btlr:200px;--hvr-btrr:200px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#005C3C;--bg:#008D5C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase"
          class="g0MAupBOmg gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg0MAupBOmg_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g0MAupBOmg">
        button.g0MAupBOmg {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-592942777382208240 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0fny1k-ba/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=592942777348653808&sectionId=592942777382208240)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWEvq6EgO0_text","label":"ggWEvq6EgO0_text","default":"<span style=\"color:#FFFFFF;\">Secure Yours Today &amp;</span><span style=\"color:#0A0A0A;\"> </span><span style=\"color:#008D5C;\">Save 33%</span>"},{"type":"html","id":"ggLHS9UPsPU_text","label":"ggLHS9UPsPU_text","default":"<p><span style=\"color:#FFFFFF;\">Rated 4.58 out of 5</span></p>"},{"type":"html","id":"ggO5vdXk084_text","label":"ggO5vdXk084_text","default":"<p><span style=\"color:#FFFFFF;\">For a limited time, were offering a special discount on <strong>The Neutralizer</strong>.</span></p><p><br><span style=\"color:#FFFFFF;\">This offer <strong>wont</strong> last long. Once the timer hits zero, the price goes back up.</span></p>"},{"type":"html","id":"ggbcMuN5jjh_text","label":"ggbcMuN5jjh_text","default":"<p> <strong>Time Remaining:</strong></p>"},{"type":"html","id":"ggJoHlAPrY0_dayLabel","label":"ggJoHlAPrY0_dayLabel","default":"Day"},{"type":"html","id":"ggJoHlAPrY0_hourLabel","label":"ggJoHlAPrY0_hourLabel","default":"Hr"},{"type":"html","id":"ggJoHlAPrY0_minuteLabel","label":"ggJoHlAPrY0_minuteLabel","default":"Min"},{"type":"html","id":"ggJoHlAPrY0_secondLabel","label":"ggJoHlAPrY0_secondLabel","default":"Sec"},{"type":"html","id":"ggJoHlAPrY0_weekLabel","label":"ggJoHlAPrY0_weekLabel","default":"Weeks"},{"type":"html","id":"ggw8I0VcYfU_label","label":"ggw8I0VcYfU_label","default":"<p>CHECK AVAILABILITY</p>"},{"type":"html","id":"ggiBtnLlOZ6_text","label":"ggiBtnLlOZ6_text","default":"<p><span style=\"color:#008D5C;\">Risk-Free Guarantee</span></p>"},{"type":"html","id":"ggqevMjrof3_text","label":"ggqevMjrof3_text","default":"<p>We want you to feel completely confident trying The Neutralizer.</p><p>&nbsp;</p><p>Thats why every order is covered by our <strong>60-Day Money-Back Promise</strong>.&nbsp;</p><p>&nbsp;</p><p><span style=\"font-size:14px;\">If your shoes dont smell brand new again</span>, simply reach out, well make it right.</p><p>&nbsp;</p>"},{"type":"html","id":"gg0MAupBOmg_label","label":"gg0MAupBOmg_label","default":"<p>CHECK AVAILABILITY</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}