
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-585528362135454391.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-585528362135454391.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-585528362135454391.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-585528362135454391.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-585528362135454391.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-585528362135454391.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-585528362135454391.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-585528362135454391.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-585528362135454391.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-585528362135454391.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-585528362135454391.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-585528362135454391.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-585528362135454391.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-585528362135454391.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-585528362135454391.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-585528362135454391.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-585528362135454391.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-585528362135454391.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-585528362135454391.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-585528362135454391.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-585528362135454391.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-585528362135454391.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-585528362135454391.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-585528362135454391.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-585528362135454391.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-585528362135454391.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-585528362135454391.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-585528362135454391.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-585528362135454391.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-585528362135454391.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-585528362135454391.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-585528362135454391.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-585528362135454391.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-585528362135454391.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-585528362135454391.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-585528362135454391.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-585528362135454391.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-585528362135454391.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-585528362135454391.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-585528362135454391.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-585528362135454391.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-585528362135454391.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-585528362135454391.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-585528362135454391.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-585528362135454391.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-585528362135454391.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-585528362135454391.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-585528362135454391.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-585528362135454391.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-585528362135454391.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-585528362135454391.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-585528362135454391.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-585528362135454391.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-585528362135454391.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-585528362135454391.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-585528362135454391.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-585528362135454391.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-585528362135454391.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-585528362135454391.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-585528362135454391.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-585528362135454391.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-585528362135454391.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-585528362135454391.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-585528362135454391.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-585528362135454391.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-585528362135454391.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-585528362135454391.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-585528362135454391.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-585528362135454391.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-585528362135454391.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-585528362135454391.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-585528362135454391.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-585528362135454391.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-585528362135454391.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-585528362135454391.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-585528362135454391.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-585528362135454391.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-585528362135454391.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-585528362135454391.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-585528362135454391.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-585528362135454391.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-585528362135454391.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-585528362135454391.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-585528362135454391.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-585528362135454391.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-585528362135454391.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-585528362135454391.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-585528362135454391.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-585528362135454391.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-585528362135454391.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-585528362135454391.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-585528362135454391.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-585528362135454391.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-585528362135454391.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-585528362135454391.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-585528362135454391.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-585528362135454391.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-585528362135454391.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-585528362135454391.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-585528362135454391.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-585528362135454391.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-585528362135454391.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-585528362135454391 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-585528362135454391 .gp-pointer-events-none{pointer-events:none}.gps-585528362135454391 .gp-absolute{position:absolute}.gps-585528362135454391 .gp-relative{position:relative}.gps-585528362135454391 .gp-inset-0{inset:0}.gps-585528362135454391 .gp-z-1{z-index:1}.gps-585528362135454391 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-585528362135454391 .gp-mb-0{margin-bottom:0}.gps-585528362135454391 .gp-block{display:block}.gps-585528362135454391 .gp-inline-block{display:inline-block}.gps-585528362135454391 .gp-flex{display:flex}.gps-585528362135454391 .gp-inline-flex{display:inline-flex}.gps-585528362135454391 .gp-grid{display:grid}.gps-585528362135454391 .gp-contents{display:contents}.gps-585528362135454391 .\!gp-hidden{display:none!important}.gps-585528362135454391 .gp-hidden{display:none}.gps-585528362135454391 .gp-h-auto{height:auto}.gps-585528362135454391 .gp-h-full{height:100%}.gps-585528362135454391 .gp-w-full{width:100%}.gps-585528362135454391 .gp-w-max{width:-moz-max-content;width:max-content}.gps-585528362135454391 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-585528362135454391 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-585528362135454391 .gp-max-w-full{max-width:100%}.gps-585528362135454391 .gp-flex-1{flex:1 1 0%}.gps-585528362135454391 .gp-flex-none{flex:none}.gps-585528362135454391 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-585528362135454391 .gp-flex-col{flex-direction:column}.gps-585528362135454391 .gp-flex-wrap{flex-wrap:wrap}.gps-585528362135454391 .gp-items-center{align-items:center}.gps-585528362135454391 .gp-justify-center{justify-content:center}.gps-585528362135454391 .gp-overflow-hidden{overflow:hidden}.gps-585528362135454391 .gp-break-words{overflow-wrap:break-word}.gps-585528362135454391 .gp-text-center{text-align:center}.gps-585528362135454391 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-585528362135454391 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-585528362135454391 .gp-no-underline{text-decoration-line:none}.gps-585528362135454391 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585528362135454391 .gp-duration-200{transition-duration:.2s}.gps-585528362135454391 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585528362135454391 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-585528362135454391 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-585528362135454391 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-585528362135454391 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-585528362135454391 .tablet\:gp-block{display:block}.gps-585528362135454391 .tablet\:\!gp-hidden{display:none!important}.gps-585528362135454391 .tablet\:gp-hidden{display:none}.gps-585528362135454391 .tablet\:gp-h-auto{height:auto}.gps-585528362135454391 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-585528362135454391 .mobile\:gp-block{display:block}.gps-585528362135454391 .mobile\:\!gp-hidden{display:none!important}.gps-585528362135454391 .mobile\:gp-hidden{display:none}.gps-585528362135454391 .mobile\:gp-h-auto{height:auto}.gps-585528362135454391 .mobile\:gp-flex-none{flex:none}}.gps-585528362135454391 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-585528362135454391 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gRk70BPD-d"}' data-id="gRk70BPD-d" id="gRk70BPD-d" data-same-height-subgrid-container class="gRk70BPD-d gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOsR8r14dB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"g30CMg2BKP"}' data-id="g30CMg2BKP" id="g30CMg2BKP" data-same-height-subgrid-container class="g30CMg2BKP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:30px;--pb-mobile:20px;--pr-mobile:30px;--cg:30px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center;--o-mobile:1"
      class="gLrg-ct3-5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"guk2CwcXuq"}' data-id="guk2CwcXuq" id="guk2CwcXuq" data-same-height-subgrid-container class="guk2CwcXuq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bs-mobile:solid;--bw:3px 3px 3px 3px;--bw-mobile:3px 3px 3px 3px;--bc:#121212;--bc-mobile:#151515;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:48px;--pb:32px;--pr:48px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--pt-tablet:16px;--pl-tablet:24px;--pb-tablet:16px;--pr-tablet:24px;--cg:8px;--gtc:minmax(0, 12fr);--w:585px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8x1f05apm gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gH-bGQ25mP"
        class="gH-bGQ25mP"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598890"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:19px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggH-bGQ25mP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gH-bGQ25mP">
        .gH-bGQ25mP {

}
.gH-bGQ25mP p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4Iborl79H"
        class="g4Iborl79H"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598891"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4Iborl79H_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://wakeloop.com/products/loop-one1","target":"_blank","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--ta:center" >
        <style>[data-id="gjBE2Bmkng"].gp-button-base::before, [data-id="gjBE2Bmkng-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gjBE2Bmkng"]:hover::before, [data-id="gjBE2Bmkng-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  }</style>
        
        <a
          data-id="gjBE2Bmkng" dataId="gjBE2Bmkng" data-state="idle" aria-label="<p>GET 30% OFF</p>"
          
          href="https://wakeloop.com/products/loop-one1" target="_blank"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#627903;--bg:#121212;--c:#F6FF1F;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gjBE2Bmkng gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggjBE2Bmkng_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gjBE2Bmkng">
        button.gjBE2Bmkng {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDF9F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gM5319vvZD"}' data-id="gM5319vvZD" id="gM5319vvZD" data-same-height-subgrid-container class="gM5319vvZD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:4px;--pt:12px;--pb:12px;--mb-mobile:8px;--pt-mobile:12px;--pb-mobile:12px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:310px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#FDF9F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gagDVkOHEr gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOLoV1jxZ_"
        class="gOLoV1jxZ_"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598899"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOLoV1jxZ__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gOLoV1jxZ_">
        .gOLoV1jxZ_ {

}
.gOLoV1jxZ_ p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g_hdenUq5k gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQGHhz6hZD"
        class="gQGHhz6hZD"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598900"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQGHhz6hZD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gQGHhz6hZD">
        .gQGHhz6hZD {

}
.gQGHhz6hZD p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g334rgdsHT gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnFLL36nCN"
        class="gnFLL36nCN"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598902"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnFLL36nCN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gnFLL36nCN">
        .gnFLL36nCN {

}
.gnFLL36nCN p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gei8YhGsH7"
        class="gei8YhGsH7"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598911"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:11px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggei8YhGsH7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--mb:0px;--pt:12px;--pb:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gwO5bywZb_ ">
      
    <div data-id="gwO5bywZb_" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#151515" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#151515;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#151515;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#151515;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bs-mobile:none;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px" class="gzo9cTQPh_ ">
      
    {%- liquid
      assign standardEndDate = 1723542206689
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gzo9cTQPh_"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"hrs","loopAfterFinish":true,"minuteLabel":"min","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"sec","timeZone":"UTC-7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1720763006689,"hours":3,"mins":0,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gzo9cTQPh_","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"0px"}},"position":"all","mobile":{"normal":{"border":"none"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"8px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"hrs","loopAfterFinish":true,"minuteLabel":"min","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"sec","timeZone":"UTC-7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1720763006689,"hours":3,"mins":0,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FDF9F4","borderState":{"normal":{"border":"none"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"},"mobile":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"}},"labelTypo":{"attrs":{"color":"#E30D0D"},"custom":{"fontSize":{"desktop":"10px","mobile":"10px","tablet":"13px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#E30D0D"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"16px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gzo9cTQPh_","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo9cTQPh_-text" id="hour"
        class="gzo9cTQPh_"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598915"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo9cTQPh_-text"
        class="gzo9cTQPh_"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598915"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzo9cTQPh__hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo9cTQPh_-text" id="minute"
        class="gzo9cTQPh_"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598915"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo9cTQPh_-text"
        class="gzo9cTQPh_"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598916"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzo9cTQPh__minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo9cTQPh_-text" id="second"
        class="gzo9cTQPh_"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598916"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo9cTQPh_-text"
        class="gzo9cTQPh_"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758571598916"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzo9cTQPh__secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center;--o-mobile:0"
      class="gj62db3RDJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="goSlaw8pai"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:28px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758571598918 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto goSlaw8pai"
    >
      <a
        href="https://wakeloop.com/products/loop-one1" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585528077073777499-05794409-fd19-4348-8bac-069fe5ab7ebe.png" | file_url }}" srcset="{{ "gempages_585528077073777499-05794409-fd19-4348-8bac-069fe5ab7ebe.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_585528077073777499-05794409-fd19-4348-8bac-069fe5ab7ebe.png" | file_url }}" srcset="{{ "gempages_585528077073777499-05794409-fd19-4348-8bac-069fe5ab7ebe.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_585528077073777499-05794409-fd19-4348-8bac-069fe5ab7ebe.png" | file_url }}" data-src="{{ "gempages_585528077073777499-05794409-fd19-4348-8bac-069fe5ab7ebe.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:contain;--objf-mobile:contain;--w:381px;--w-tablet:381px;--w-mobile:315px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-goSlaw8pai">
        .goSlaw8pai {

}
.goSlaw8pai > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-585528362135454391 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tvxij5-k8/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=585528348931785533&sectionId=585528362135454391)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggH-bGQ25mP_text","label":"ggH-bGQ25mP_text","default":"<p><span style=\"font-size:22px;\">Last Chance This Fall:&nbsp;</span></p><p><span style=\"font-size:22px;\">30% Off + Free Shipping</span></p>"},{"type":"html","id":"gg4Iborl79H_text","label":"gg4Iborl79H_text","default":"<p>Stock keeps selling out fast.&nbsp;</p><p>Grab yours before it’s gone again.</p>"},{"type":"html","id":"ggjBE2Bmkng_label","label":"ggjBE2Bmkng_label","default":"<p>GET 30% OFF</p>"},{"type":"html","id":"ggOLoV1jxZ__text","label":"ggOLoV1jxZ__text","default":"<p>Sell-out Risk: <span style=\"color:#E30D0D;\"><strong>High</strong></span></p>"},{"type":"html","id":"ggQGHhz6hZD_text","label":"ggQGHhz6hZD_text","default":"<p>|</p>"},{"type":"html","id":"ggnFLL36nCN_text","label":"ggnFLL36nCN_text","default":"<p><strong>FREE </strong>shipping</p>"},{"type":"html","id":"ggei8YhGsH7_text","label":"ggei8YhGsH7_text","default":"<p>Try it today with a 60-Day Money Back Guarantee!</p>"},{"type":"html","id":"ggzo9cTQPh__dayLabel","label":"ggzo9cTQPh__dayLabel","default":"Days"},{"type":"html","id":"ggzo9cTQPh__hourLabel","label":"ggzo9cTQPh__hourLabel","default":"hrs"},{"type":"html","id":"ggzo9cTQPh__minuteLabel","label":"ggzo9cTQPh__minuteLabel","default":"min"},{"type":"html","id":"ggzo9cTQPh__secondLabel","label":"ggzo9cTQPh__secondLabel","default":"sec"},{"type":"html","id":"ggzo9cTQPh__weekLabel","label":"ggzo9cTQPh__weekLabel","default":"Weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  