
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586887469253788522.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-586887469253788522.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-586887469253788522.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586887469253788522.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-586887469253788522.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586887469253788522.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586887469253788522.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586887469253788522.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-586887469253788522.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586887469253788522.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586887469253788522.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586887469253788522.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586887469253788522.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-586887469253788522.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-586887469253788522.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586887469253788522.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-586887469253788522.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-586887469253788522.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586887469253788522.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586887469253788522.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-586887469253788522.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-586887469253788522.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586887469253788522.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-586887469253788522.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-586887469253788522.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-586887469253788522.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-586887469253788522.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586887469253788522.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586887469253788522.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-586887469253788522.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-586887469253788522.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586887469253788522.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-586887469253788522.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-586887469253788522.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586887469253788522.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-586887469253788522.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-586887469253788522.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586887469253788522.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586887469253788522.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586887469253788522.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586887469253788522.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586887469253788522.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586887469253788522.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586887469253788522.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-586887469253788522.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586887469253788522.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586887469253788522.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586887469253788522.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-586887469253788522.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586887469253788522.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586887469253788522.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586887469253788522.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586887469253788522.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586887469253788522.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-586887469253788522.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-586887469253788522.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586887469253788522.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586887469253788522.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586887469253788522.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586887469253788522.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586887469253788522.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586887469253788522.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586887469253788522.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586887469253788522.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586887469253788522.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-586887469253788522.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-586887469253788522.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586887469253788522.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586887469253788522.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586887469253788522.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-586887469253788522.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586887469253788522.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586887469253788522.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586887469253788522.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-586887469253788522.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-586887469253788522.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586887469253788522.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586887469253788522.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586887469253788522.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586887469253788522.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-586887469253788522.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-586887469253788522.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-586887469253788522.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-586887469253788522.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-586887469253788522.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-586887469253788522.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-586887469253788522.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586887469253788522.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586887469253788522.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-586887469253788522.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586887469253788522.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586887469253788522.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-586887469253788522.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586887469253788522.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586887469253788522.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586887469253788522.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586887469253788522.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-586887469253788522.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586887469253788522.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586887469253788522 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-586887469253788522 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-586887469253788522 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-586887469253788522 .gp-relative{position:relative}.gps-586887469253788522 .gp-z-1{z-index:1}.gps-586887469253788522 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586887469253788522 .gp-mb-0{margin-bottom:0}.gps-586887469253788522 .gp-inline-block{display:inline-block}.gps-586887469253788522 .gp-flex{display:flex}.gps-586887469253788522 .gp-inline-flex{display:inline-flex}.gps-586887469253788522 .gp-grid{display:grid}.gps-586887469253788522 .gp-contents{display:contents}.gps-586887469253788522 .\!gp-hidden{display:none!important}.gps-586887469253788522 .gp-hidden{display:none}.gps-586887469253788522 .gp-h-auto{height:auto}.gps-586887469253788522 .gp-h-full{height:100%}.gps-586887469253788522 .gp-w-full{width:100%}.gps-586887469253788522 .gp-w-max{width:-moz-max-content;width:max-content}.gps-586887469253788522 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-586887469253788522 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-586887469253788522 .gp-max-w-full{max-width:100%}.gps-586887469253788522 .gp-flex-1{flex:1 1 0%}.gps-586887469253788522 .gp-flex-none{flex:none}.gps-586887469253788522 .gp-shrink-0{flex-shrink:0}.gps-586887469253788522 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586887469253788522 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-586887469253788522 .gp-flex-col{flex-direction:column}.gps-586887469253788522 .gp-flex-wrap{flex-wrap:wrap}.gps-586887469253788522 .gp-items-center{align-items:center}.gps-586887469253788522 .gp-justify-center{justify-content:center}.gps-586887469253788522 .gp-overflow-hidden{overflow:hidden}.gps-586887469253788522 .gp-break-words{overflow-wrap:break-word}.gps-586887469253788522 .gp-text-center{text-align:center}.gps-586887469253788522 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-586887469253788522 .gp-no-underline{text-decoration-line:none}.gps-586887469253788522 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586887469253788522 .gp-duration-200{transition-duration:.2s}.gps-586887469253788522 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586887469253788522 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-586887469253788522 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-586887469253788522 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-586887469253788522 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-586887469253788522 .tablet\:\!gp-hidden{display:none!important}.gps-586887469253788522 .tablet\:gp-hidden{display:none}.gps-586887469253788522 .tablet\:gp-h-auto{height:auto}.gps-586887469253788522 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-586887469253788522 .mobile\:\!gp-hidden{display:none!important}.gps-586887469253788522 .mobile\:gp-hidden{display:none}.gps-586887469253788522 .mobile\:gp-h-auto{height:auto}.gps-586887469253788522 .mobile\:gp-flex-none{flex:none}}.gps-586887469253788522 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-586887469253788522 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-586887469253788522 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-586887469253788522 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-586887469253788522 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-586887469253788522 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EFEFEF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#EFEFEF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gbO3OPORjm"}' data-id="gbO3OPORjm" id="gbO3OPORjm" data-same-height-subgrid-container class="gbO3OPORjm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:20px;--pb:16px;--pr:20px;--pt-mobile:11px;--pb-mobile:14px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EFEFEF;--bgc-mobile:#EFEFEF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gk4durKpbN gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gWjY2nKmEf"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:24px;--mb-mobile:28px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759353653608 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gWjY2nKmEf"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586849941859599067-08b1eee4-91bf-4e5a-897c-36000199660f.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586849941859599067-08b1eee4-91bf-4e5a-897c-36000199660f.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_586849941859599067-08b1eee4-91bf-4e5a-897c-36000199660f.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_586849941859599067-08b1eee4-91bf-4e5a-897c-36000199660f.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:790px;--w-mobile:790px;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:8px;--bblr:8px;--bbrr:8px;--btlr:8px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gWjY2nKmEf">
        .gWjY2nKmEf {

}
.gWjY2nKmEf > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyV3hXA45P"
        class="gyV3hXA45P"
        style="--ta:left;--mb:32px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759353653609"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyV3hXA45P_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--mb:32px;--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gZamYgQcHY ">
      
    {%- liquid
      assign standardEndDate = 1759932908801
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gZamYgQcHY"
        gp-href
        class="gp-flex"
        style="--jc:center;--jc-mobile:center"
        gp-data='{"behaviour":"daily","dateStandard":1759918508801,"timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1759324508801,"startTime":1759313708801},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Day","enableHour":true,"hourLabel":"Hour","enableMinute":true,"minuteLabel":"Minute","enableSecond":true,"secondLabel":"Second","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"gZamYgQcHY","builderData":{"uid":"gZamYgQcHY","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1759918508801,"timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1759324508801,"startTime":1759313708801},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Day","enableHour":true,"hourLabel":"Hour","enableMinute":true,"minuteLabel":"Minute","enableSecond":true,"secondLabel":"Second","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"heading-1","attrs":{"color":"text-2","bold":true}},"colorNumber":"text-2","labelTypo":{"type":"subheading-2","attrs":{"color":"#151515"},"latestUpdate":"color"},"colorLabel":"text-2","textAlign":{"desktop":"center","mobile":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"#B996EA","verticalGap":"0px","horizontalGap":"16px","itemPadding":{"desktop":{"top":"8px","bottom":"8px","left":"24px","right":"24px"}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"rounded"}}},"advanced":{"spacing-setting":{"edited":["mobile"],"desktop":{"margin":{"bottom":"32px"}},"mobile":{"margin":{"bottom":"32px"},"link":false,"padding":{"top":"0px","bottom":"0px","right":"0px","left":"0px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:16px;--jc:center;--jc-mobile:center">
          
          
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:#B996EA" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZamYgQcHY-text" id="hour"
        class="gZamYgQcHY"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759353653611"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-heading-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZamYgQcHY-text"
        class="gZamYgQcHY"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759353653611"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZamYgQcHY_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:#B996EA" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZamYgQcHY-text" id="minute"
        class="gZamYgQcHY"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759353653612"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-heading-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZamYgQcHY-text"
        class="gZamYgQcHY"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759353653612"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZamYgQcHY_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:#B996EA" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZamYgQcHY-text" id="second"
        class="gZamYgQcHY"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759353653612"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-heading-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZamYgQcHY-text"
        class="gZamYgQcHY"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759353653612"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#151515;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZamYgQcHY_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBTemfgxVK"
        class="gBTemfgxVK"
        style="--ta:left;--mb:32px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759353653613"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBTemfgxVK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://itsdovie.com/products/the-dovie","target":"_blank","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pl:0px;--pr:0px;--mb-mobile:28px;--ta:center" >
        <style>[data-id="goN6VS7a_Z"].gp-button-base::before, [data-id="goN6VS7a_Z-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  
    }
  
      
  [data-id="goN6VS7a_Z"]:hover::before, [data-id="goN6VS7a_Z-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  }</style>
        
        <a
          data-id="goN6VS7a_Z" dataId="goN6VS7a_Z" data-state="idle" aria-label="<p>CHECK AVAILABILITY</p>"
          
          href="https://itsdovie.com/products/the-dovie" target="_blank"
          style="--w:584px;--w-tablet:584px;--w-mobile:584px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:5px;--pr:5px;--pt:14px;--pb:14px;--pl-mobile:5px;--pr-mobile:5px;--pt-mobile:12px;--pb-mobile:12px;--bblr:200px;--bbrr:200px;--btlr:200px;--btrr:200px;--hvr-bblr:200px;--hvr-bbrr:200px;--hvr-btlr:200px;--hvr-btrr:200px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#005C3C;--bg:#B996EA;--c:#EFEFEF;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
          class="goN6VS7a_Z gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggoN6VS7a_Z_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-goN6VS7a_Z">
        button.goN6VS7a_Z {

}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-586887469253788522 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/f20y1m-eb/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586887454540169785&sectionId=586887469253788522)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyV3hXA45P_text","label":"ggyV3hXA45P_text","default":"<p><span style=\"color:#000000;font-size:33px;\"><strong>Don’t Miss Out on This Exclusive Offer</strong></span></p><p><span style=\"color:#AA6BE5;font-size:24px;\"><strong>(*While stock lasts)</strong></span></p>"},{"type":"html","id":"ggZamYgQcHY_dayLabel","label":"ggZamYgQcHY_dayLabel","default":"Day"},{"type":"html","id":"ggZamYgQcHY_hourLabel","label":"ggZamYgQcHY_hourLabel","default":"Hour"},{"type":"html","id":"ggZamYgQcHY_minuteLabel","label":"ggZamYgQcHY_minuteLabel","default":"Minute"},{"type":"html","id":"ggZamYgQcHY_secondLabel","label":"ggZamYgQcHY_secondLabel","default":"Second"},{"type":"html","id":"ggZamYgQcHY_weekLabel","label":"ggZamYgQcHY_weekLabel","default":"Week"},{"type":"html","id":"ggBTemfgxVK_text","label":"ggBTemfgxVK_text","default":"<p><span style=\"color:#D166FF;font-size:21px;\"><strong>&nbsp;Get 20% OFF </strong></span><span style=\"color:#000000;font-size:21px;\"><strong>Your Purchase!</strong></span><br><span style=\"color:#000000;font-size:21px;\"><strong>Plus</strong></span><span style=\"color:#D166FF;font-size:21px;\"><strong> A FREE GIFT</strong></span></p>"},{"type":"html","id":"ggoN6VS7a_Z_label","label":"ggoN6VS7a_Z_label","default":"<p>CHECK AVAILABILITY</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  