
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593009999744074260.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593009999744074260.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-593009999744074260.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593009999744074260.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593009999744074260.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593009999744074260.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-593009999744074260.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593009999744074260.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593009999744074260.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593009999744074260.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593009999744074260.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-593009999744074260.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593009999744074260.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-593009999744074260.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593009999744074260.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593009999744074260.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-593009999744074260.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593009999744074260.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-593009999744074260.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-593009999744074260.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593009999744074260.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-593009999744074260.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593009999744074260.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-593009999744074260.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593009999744074260.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-593009999744074260.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593009999744074260.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-593009999744074260.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-593009999744074260.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593009999744074260.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593009999744074260.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593009999744074260.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593009999744074260.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593009999744074260.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593009999744074260.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593009999744074260.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593009999744074260.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-593009999744074260.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-593009999744074260.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593009999744074260.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593009999744074260.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-593009999744074260.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593009999744074260.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593009999744074260.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593009999744074260.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593009999744074260.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593009999744074260.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593009999744074260.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593009999744074260.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-593009999744074260.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-593009999744074260.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593009999744074260.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-593009999744074260.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-593009999744074260.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593009999744074260.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-593009999744074260.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-593009999744074260.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-593009999744074260.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593009999744074260.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593009999744074260.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-593009999744074260.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-593009999744074260.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-593009999744074260.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-593009999744074260.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-593009999744074260.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-593009999744074260.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-593009999744074260.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593009999744074260.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-593009999744074260.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593009999744074260.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-593009999744074260.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-593009999744074260.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-593009999744074260.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-593009999744074260.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-593009999744074260.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-593009999744074260 .gp-invisible{visibility:hidden}.gps-593009999744074260 .gp-absolute{position:absolute}.gps-593009999744074260 .gp-relative{position:relative}.gps-593009999744074260 .gp-sticky{position:sticky}.gps-593009999744074260 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593009999744074260 .gp-mb-0{margin-bottom:0}.gps-593009999744074260 .gp-flex{display:flex}.gps-593009999744074260 .gp-inline-flex{display:inline-flex}.gps-593009999744074260 .gp-grid{display:grid}.gps-593009999744074260 .\!gp-hidden{display:none!important}.gps-593009999744074260 .gp-hidden{display:none}.gps-593009999744074260 .gp-h-5{height:20px}.gps-593009999744074260 .gp-h-full{height:100%}.gps-593009999744074260 .gp-w-5{width:20px}.gps-593009999744074260 .gp-max-w-full{max-width:100%}.gps-593009999744074260 .gp-cursor-default{cursor:default}.gps-593009999744074260 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593009999744074260 .gp-flex-col{flex-direction:column}.gps-593009999744074260 .gp-items-center{align-items:center}.gps-593009999744074260 .gp-justify-center{justify-content:center}.gps-593009999744074260 .gp-overflow-hidden{overflow:hidden}.gps-593009999744074260 .gp-break-words{overflow-wrap:break-word}.gps-593009999744074260 .gp-text-center{text-align:center}.gps-593009999744074260 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-593009999744074260 .gp-no-underline{text-decoration-line:none}.gps-593009999744074260 .gp-opacity-25{opacity:.25}.gps-593009999744074260 .gp-opacity-30{opacity:.3}.gps-593009999744074260 .gp-opacity-75{opacity:.75}.gps-593009999744074260 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593009999744074260 .gp-duration-200{transition-duration:.2s}.gps-593009999744074260 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593009999744074260 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-593009999744074260 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-593009999744074260 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-593009999744074260 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-593009999744074260 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-593009999744074260 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-593009999744074260 .tablet\:\!gp-hidden{display:none!important}.gps-593009999744074260 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-593009999744074260 .mobile\:\!gp-hidden{display:none!important}.gps-593009999744074260 .mobile\:gp-hidden{display:none}}.gps-593009999744074260 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-593009999744074260 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v31/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyovBJ.ttf) format('truetype');
}
</style>
  
    
    
    
    <gp-sticky
    data-id="g1e13_gVFK"
      gp-data='{"uid":"g1e13_gVFK","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":true,"tablet":true,"mobile":true}}}'
      id="g1e13_gVFK"
      data-id="g1e13_gVFK"
      class="sticky-wrapper  g1e13_gVFK undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--shadow:8.485281374238571px 8.48528137423857px 12px 0px rgba(18, 18, 18, 0.2);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gTIDz0K91J gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if '15701629862268' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['shoe-care-brush']
              assign productId = '15701629862268' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if '15701629862268' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['shoe-care-brush']
            assign productId = '15701629862268' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g_B0GSuvk-" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="g_B0GSuvk-"
        data-id="g_B0GSuvk-"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent"}},"uid":"g_B0GSuvk-"}' data-id="g_B0GSuvk--row" id="g_B0GSuvk-" data-same-height-subgrid-container class="g_B0GSuvk- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:4px;--pl:4px;--pb:4px;--pr:4px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gkln4u3mqI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gpJPK5_9iB"}' data-id="gpJPK5_9iB" id="gpJPK5_9iB" data-same-height-subgrid-container class="gpJPK5_9iB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--cg-tablet:8px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gMMq7U2yLv gp-relative gp-flex gp-flex-col"
    >
      
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href="https://drodoro.com/products/the-neutralizer-1"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.ggI80okph21_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.ggI80okph21_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"type":"paragraph-2","attrs":{"color":"error"}},"successTypo":{"type":"paragraph-2","attrs":{"color":"success"}}},"setting":{"errorType":"built-in","actionEffect":"go-to-url","enableMessage":true,"label":"CHECK AVAILABILITY","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","outOfStockLabel":"Out of stock","customURL":{"link":"https://drodoro.com/products/the-neutralizer-1","target":"_self"}},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      data-variant-selection-required-message="{{ section.settings.ggI80okph21_variantSelectionRequiredMessage }}"
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="gI80okph21"].gp-button-base::before, [data-id="gI80okph21-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gI80okph21"]:hover::before, [data-id="gI80okph21-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gI80okph21" dataId="gI80okph21" data-state="idle" aria-label="CHECK AVAILABILITY"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--shadow:none;--bgi:;--hvr-bgi:;--bg:#349F6C;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Roboto-Condensed, 'Roboto Condensed'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gp-button-atc tcustomizer-submit-button gI80okph21 gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Roboto-Condensed, 'Roboto Condensed'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggI80okph21_label }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="gI80okph21-sold-out"].gp-button-base::before, [data-id="gI80okph21-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="gI80okph21-sold-out"]:hover::before, [data-id="gI80okph21-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gI80okph21-sold-out" dataId="gI80okph21-sold-out" data-state="idle" aria-label="{{ section.settings.ggI80okph21_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--shadow:none;--bgi:;--hvr-bgi:;--bg:#B7B7B7;--hvr-bg:#B7B7B7;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Roboto-Condensed, 'Roboto Condensed'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out gI80okph21-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Roboto-Condensed, 'Roboto Condensed'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggI80okph21_outOfStockLabel }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-593009999744074260 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0fny1k-ba/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593001633332331311&sectionId=593009999744074260)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggI80okph21_label","label":"ggI80okph21_label","default":"CHECK AVAILABILITY"},{"type":"html","id":"ggI80okph21_outOfStockLabel","label":"ggI80okph21_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggI80okph21_unavailableLabel","label":"ggI80okph21_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggI80okph21_variantSelectionRequiredMessage","label":"ggI80okph21_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}