
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593085826485715879.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-593085826485715879.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-593085826485715879.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-593085826485715879.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593085826485715879.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-593085826485715879.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593085826485715879.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593085826485715879.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593085826485715879.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-593085826485715879.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593085826485715879.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593085826485715879.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593085826485715879.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593085826485715879.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-593085826485715879.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593085826485715879.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-593085826485715879.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593085826485715879.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593085826485715879.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-593085826485715879.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593085826485715879.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-593085826485715879.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-593085826485715879.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-593085826485715879.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-593085826485715879.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593085826485715879.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-593085826485715879.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593085826485715879.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-593085826485715879.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593085826485715879.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-593085826485715879.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593085826485715879.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-593085826485715879.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-593085826485715879.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593085826485715879.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593085826485715879.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593085826485715879.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593085826485715879.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593085826485715879.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-593085826485715879.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593085826485715879.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593085826485715879.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593085826485715879.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-593085826485715879.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-593085826485715879.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-593085826485715879.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-593085826485715879.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-593085826485715879.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593085826485715879.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593085826485715879.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-593085826485715879.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-593085826485715879.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-593085826485715879.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-593085826485715879.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-593085826485715879.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-593085826485715879.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-593085826485715879.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593085826485715879.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593085826485715879.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593085826485715879.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593085826485715879.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593085826485715879.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593085826485715879.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593085826485715879.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-593085826485715879.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-593085826485715879.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-593085826485715879.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593085826485715879.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-593085826485715879.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-593085826485715879.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-593085826485715879.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593085826485715879.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593085826485715879.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-593085826485715879.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-593085826485715879.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-593085826485715879.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-593085826485715879.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-593085826485715879.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-593085826485715879.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-593085826485715879.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-593085826485715879.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-593085826485715879.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-593085826485715879.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593085826485715879.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593085826485715879.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-593085826485715879.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-593085826485715879.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-593085826485715879.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-593085826485715879.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-593085826485715879.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-593085826485715879.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-593085826485715879.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-593085826485715879.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-593085826485715879.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-593085826485715879.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-593085826485715879.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-593085826485715879.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-593085826485715879.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-593085826485715879.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-593085826485715879.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-593085826485715879.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-593085826485715879.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-593085826485715879.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-593085826485715879.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-593085826485715879.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-593085826485715879.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-593085826485715879.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-593085826485715879.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-593085826485715879.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-593085826485715879.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593085826485715879.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-593085826485715879.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593085826485715879.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-593085826485715879.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-593085826485715879.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-593085826485715879.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-593085826485715879.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-593085826485715879.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-593085826485715879.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-593085826485715879.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-593085826485715879.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-593085826485715879.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-593085826485715879.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-593085826485715879.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-593085826485715879.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-593085826485715879.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-593085826485715879.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-593085826485715879.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-593085826485715879.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-593085826485715879.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-593085826485715879.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-593085826485715879.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-593085826485715879.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-593085826485715879 .gp-rotate-0,.gps-593085826485715879 .gp-rotate-180,.gps-593085826485715879 .mobile\:gp-rotate-0,.gps-593085826485715879 .mobile\:gp-rotate-180,.gps-593085826485715879 .tablet\:gp-rotate-0,.gps-593085826485715879 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-593085826485715879 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-593085826485715879 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-593085826485715879 .gp-invisible{visibility:hidden}.gps-593085826485715879 .gp-absolute{position:absolute}.gps-593085826485715879 .gp-relative{position:relative}.gps-593085826485715879 .gp-left-0{left:0}.gps-593085826485715879 .gp-right-0{right:0}.gps-593085826485715879 .-gp-z-1{z-index:-1}.gps-593085826485715879 .gp-z-1{z-index:1}.gps-593085826485715879 .gp-z-2{z-index:2}.gps-593085826485715879 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593085826485715879 .gp-my-0{margin-bottom:0;margin-top:0}.gps-593085826485715879 .gp-mb-0{margin-bottom:0}.gps-593085826485715879 .gp-block{display:block}.gps-593085826485715879 .gp-inline-block{display:inline-block}.gps-593085826485715879 .gp-flex{display:flex}.gps-593085826485715879 .gp-inline-flex{display:inline-flex}.gps-593085826485715879 .gp-grid{display:grid}.gps-593085826485715879 .gp-contents{display:contents}.gps-593085826485715879 .\!gp-hidden{display:none!important}.gps-593085826485715879 .gp-hidden{display:none}.gps-593085826485715879 .gp-h-auto{height:auto}.gps-593085826485715879 .gp-h-full{height:100%}.gps-593085826485715879 .\!gp-min-h-full{min-height:100%!important}.gps-593085826485715879 .gp-w-full{width:100%}.gps-593085826485715879 .gp-max-w-full{max-width:100%}.gps-593085826485715879 .gp-flex-1{flex:1 1 0%}.gps-593085826485715879 .gp-flex-none{flex:none}.gps-593085826485715879 .gp-shrink-0{flex-shrink:0}.gps-593085826485715879 .gp-rotate-0{--tw-rotate:0deg}.gps-593085826485715879 .gp-rotate-0,.gps-593085826485715879 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-593085826485715879 .gp-rotate-180{--tw-rotate:180deg}.gps-593085826485715879 .gp-cursor-pointer{cursor:pointer}.gps-593085826485715879 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-593085826485715879 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593085826485715879 .\!gp-flex-row{flex-direction:row!important}.gps-593085826485715879 .gp-flex-row{flex-direction:row}.gps-593085826485715879 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-593085826485715879 .gp-flex-col{flex-direction:column}.gps-593085826485715879 .gp-flex-wrap{flex-wrap:wrap}.gps-593085826485715879 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-593085826485715879 .\!gp-content-stretch{align-content:stretch!important}.gps-593085826485715879 .gp-items-center{align-items:center}.gps-593085826485715879 .gp-justify-center{justify-content:center}.gps-593085826485715879 .gp-justify-between{justify-content:space-between}.gps-593085826485715879 .gp-gap-2{gap:8px}.gps-593085826485715879 .\!gp-self-center{align-self:center!important}.gps-593085826485715879 .gp-self-center{align-self:center}.gps-593085826485715879 .gp-overflow-hidden{overflow:hidden}.gps-593085826485715879 .gp-break-words{overflow-wrap:break-word}.gps-593085826485715879 .gp-border{border-width:1px}.gps-593085826485715879 .gp-border-transparent{border-color:transparent}.gps-593085826485715879 .gp-text-left{text-align:left}.gps-593085826485715879 .gp-text-center{text-align:center}.gps-593085826485715879 .gp-leading-\[0\]{line-height:0}.gps-593085826485715879 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-593085826485715879 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-593085826485715879 .gp-no-underline{text-decoration-line:none}.gps-593085826485715879 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593085826485715879 .gp-duration-200{transition-duration:.2s}.gps-593085826485715879 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593085826485715879 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-593085826485715879 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-593085826485715879 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-593085826485715879 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-593085826485715879 .tablet\:gp-absolute{position:absolute}.gps-593085826485715879 .tablet\:\!gp-relative{position:relative!important}.gps-593085826485715879 .tablet\:gp-left-0{left:0}.gps-593085826485715879 .tablet\:gp-right-0{right:0}.gps-593085826485715879 .tablet\:gp-block{display:block}.gps-593085826485715879 .tablet\:\!gp-hidden{display:none!important}.gps-593085826485715879 .tablet\:gp-hidden{display:none}.gps-593085826485715879 .tablet\:gp-h-auto{height:auto}.gps-593085826485715879 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-593085826485715879 .tablet\:gp-flex-none{flex:none}.gps-593085826485715879 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-593085826485715879 .tablet\:gp-rotate-0,.gps-593085826485715879 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-593085826485715879 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-593085826485715879 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-593085826485715879 .tablet\:gp-flex-row{flex-direction:row}.gps-593085826485715879 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-593085826485715879 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-593085826485715879 .tablet\:gp-justify-center{justify-content:center}.gps-593085826485715879 .tablet\:\!gp-self-center{align-self:center!important}.gps-593085826485715879 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-593085826485715879 .mobile\:gp-static{position:static}.gps-593085826485715879 .mobile\:\!gp-relative{position:relative!important}.gps-593085826485715879 .mobile\:gp-left-0{left:0}.gps-593085826485715879 .mobile\:gp-right-0{right:0}.gps-593085826485715879 .mobile\:gp-block{display:block}.gps-593085826485715879 .mobile\:\!gp-hidden{display:none!important}.gps-593085826485715879 .mobile\:gp-hidden{display:none}.gps-593085826485715879 .mobile\:\!gp-h-auto{height:auto!important}.gps-593085826485715879 .mobile\:gp-h-auto{height:auto}.gps-593085826485715879 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-593085826485715879 .mobile\:gp-flex-none{flex:none}.gps-593085826485715879 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-593085826485715879 .mobile\:gp-rotate-0,.gps-593085826485715879 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-593085826485715879 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-593085826485715879 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-593085826485715879 .mobile\:gp-flex-row{flex-direction:row}.gps-593085826485715879 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-593085826485715879 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-593085826485715879 .mobile\:gp-justify-center{justify-content:center}.gps-593085826485715879 .mobile\:\!gp-self-center{align-self:center!important}.gps-593085826485715879 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-593085826485715879 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-593085826485715879 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-593085826485715879 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-593085826485715879 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-593085826485715879 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-593085826485715879 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-593085826485715879 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-593085826485715879 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-593085826485715879 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-593085826485715879 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-593085826485715879 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-593085826485715879 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-593085826485715879 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-593085826485715879 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-593085826485715879 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-593085826485715879 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-593085826485715879 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmVhViq91r"}' data-id="gmVhViq91r" id="gmVhViq91r" data-same-height-subgrid-container class="gmVhViq91r gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:20px;--pb:16px;--pr:20px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gI84LaBEg3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRKLS_R2Jk"
        class="gRKLS_R2Jk"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:0px;--pr:0px;--mb-mobile:11px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749604"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRKLS_R2Jk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gRKLS_R2Jk">
        .gRKLS_R2Jk {

}
.gRKLS_R2Jk p {

}
      </style>
    
    <div
      role="presentation"
      data-id="g3H2VR-lmB"
      style="--mb:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042749604 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3H2VR-lmB"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "group-friends-are-sitting-soft-couch-communicates-carefreely-living-room-with-modern-interior-young-men-are-sitting-soft-couch-home-have-fun-conversation_482921-4069.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI2LTQxOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgZmlsbD0idXJsKCNnLTYyNi00MTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjYiIHRvPSI2MjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "group-friends-are-sitting-soft-couch-communicates-carefreely-living-room-with-modern-interior-young-men-are-sitting-soft-couch-home-have-fun-conversation_482921-4069.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI2LTQxOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgZmlsbD0idXJsKCNnLTYyNi00MTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjYiIHRvPSI2MjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "group-friends-are-sitting-soft-couch-communicates-carefreely-living-room-with-modern-interior-young-men-are-sitting-soft-couch-home-have-fun-conversation_482921-4069.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjI2LTQxOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjI2IiBoZWlnaHQ9IjQxOCIgZmlsbD0idXJsKCNnLTYyNi00MTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MjYiIHRvPSI2MjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "group-friends-are-sitting-soft-couch-communicates-carefreely-living-room-with-modern-interior-young-men-are-sitting-soft-couch-home-have-fun-conversation_482921-4069.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--w:800px;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:8px;--bblr:8px;--bbrr:8px;--btlr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZBhEhma_T"
        class="gZBhEhma_T"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749605"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZBhEhma_T_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gZBhEhma_T">
        .gZBhEhma_T {

}
.gZBhEhma_T p {

}
      </style>
    
    <div
      role="presentation"
      data-id="ge4FkUPMeW"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042749605 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ge4FkUPMeW"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "istockphoto-2042596414-612x612.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTQwOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgZmlsbD0idXJsKCNnLTYxMi00MDgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "istockphoto-2042596414-612x612.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTQwOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgZmlsbD0idXJsKCNnLTYxMi00MDgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "istockphoto-2042596414-612x612.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjEyLTQwOCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjEyIiBoZWlnaHQ9IjQwOCIgZmlsbD0idXJsKCNnLTYxMi00MDgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTIiIHRvPSI2MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "istockphoto-2042596414-612x612.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:760px;--w-tablet:760px;--w-mobile:760px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g11cRuTdvo"
        class="g11cRuTdvo"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749606"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg11cRuTdvo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g11cRuTdvo">
        .g11cRuTdvo {

}
.g11cRuTdvo p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gxOER12gkd"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042749606 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gxOER12gkd"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "vip_7d45fe64-b683-457b-a566-04c6a679ec4e.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "vip_7d45fe64-b683-457b-a566-04c6a679ec4e.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "vip_7d45fe64-b683-457b-a566-04c6a679ec4e.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "vip_7d45fe64-b683-457b-a566-04c6a679ec4e.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:800px;--w-tablet:800px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdYS3c8rSf"
        class="gdYS3c8rSf"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749606"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:800px;--w-tablet:800px;--w-mobile:800px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdYS3c8rSf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gdYS3c8rSf">
        .gdYS3c8rSf {

}
.gdYS3c8rSf p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gILTKVtSKO"
        class="gILTKVtSKO"
        style="--ta:left;--mb:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749607"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggILTKVtSKO_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    {% render 'gp-section-593085826485715879-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIXVfgd3tp"
        class="gIXVfgd3tp"
        style="--ta:left;--mb:24px;--pl:0px;--mb-tablet:24px;--pl-tablet:0px;--mb-mobile:24px;--pl-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749737"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIXVfgd3tp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gO85xPpY_A"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:28px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042749738 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gO85xPpY_A"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "ytvyvy.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "ytvyvy.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "ytvyvy.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "ytvyvy.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--objf-mobile:cover;--w:790px;--w-tablet:790px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gO85xPpY_A">
        .gO85xPpY_A {

}
.gO85xPpY_A > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gT4cV7hjmw"
        class="gT4cV7hjmw"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749738"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggT4cV7hjmw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gPYqz3KMdM"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763042749738 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gPYqz3KMdM"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "RKYKFBHWLJFRFLYZB46QMFQNOU.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTc2IiBoZWlnaHQ9IjYxMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTc2LTYxMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTc2IiBoZWlnaHQ9IjYxMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTc2IiBoZWlnaHQ9IjYxMyIgZmlsbD0idXJsKCNnLTU3Ni02MTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NzYiIHRvPSI1NzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "fer_we.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "fer_we.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "fer_we.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:760px;--w-tablet:760px;--w-mobile:760px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8BRJ9i4tu"
        class="g8BRJ9i4tu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749739"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8BRJ9i4tu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4KAbqk5NM"
        class="g4KAbqk5NM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763042749739"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4KAbqk5NM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://drodoro.com/products/the-neutralizer","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pl:0px;--pr:0px;--mb-mobile:28px;--ta:center" >
        <style>[data-id="gdaIVzs8vZ"].gp-button-base::before, [data-id="gdaIVzs8vZ-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  
    }
  
      
  [data-id="gdaIVzs8vZ"]:hover::before, [data-id="gdaIVzs8vZ-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  }</style>
        
        <a
          data-id="gdaIVzs8vZ" dataId="gdaIVzs8vZ" data-state="idle" aria-label="<p>CHECK AVAILABILITY</p>"
          
          href="https://drodoro.com/products/the-neutralizer" target="_self"
          style="--w:584px;--w-tablet:584px;--w-mobile:584px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:5px;--pr:5px;--pt:14px;--pb:14px;--pl-mobile:5px;--pr-mobile:5px;--pt-mobile:12px;--pb-mobile:12px;--bblr:200px;--bbrr:200px;--btlr:200px;--btrr:200px;--hvr-bblr:200px;--hvr-bbrr:200px;--hvr-btlr:200px;--hvr-btrr:200px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#005C3C;--bg:#008D5C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase"
          class="gdaIVzs8vZ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggdaIVzs8vZ_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gdaIVzs8vZ">
        button.gdaIVzs8vZ {

}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-593085826485715879 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0fny1k-ba/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593085826368275367&sectionId=593085826485715879)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRKLS_R2Jk_text","label":"ggRKLS_R2Jk_text","default":"<p><span style=\"font-size:19px;\"><strong>Proof you can smell tonight (do the 1-shoe test)</strong></span></p><p>&nbsp;</p><p>You dont have to believe me. Run this simple demo:</p><p>&nbsp;</p><p>Wear your shoes as usual today.</p><p>Tonight, put <strong>The Neutralizer</strong> in <strong>one</strong> shoe only.</p><p>Tomorrow morning, compare.</p><p>&nbsp;</p><p>Most people notice a clear difference after <strong>one night</strong>.&nbsp;</p><p>&nbsp;</p><p>Extra-tough cases (work boots, soaked gym shoes) typically need <strong>12 nights</strong>. Once you smell that side-by-side result, confidence replaces anxiety.</p>"},{"type":"html","id":"ggZBhEhma_T_text","label":"ggZBhEhma_T_text","default":"<p><span style=\"font-size:19px;\"><strong>Designed for people who worry about taking their shoes off</strong></span></p><p>&nbsp;</p><p><strong>Dates &amp; social nights:</strong> Relax instead of over-spritzing.</p><p><strong>Apartments/roommates:</strong> No awkward door-moment.</p><p><strong>Office &amp; flights:</strong> Slip shoes off without drama.</p><p><strong>Sneaker lovers:</strong> Keep favorite pairs longer, without perfuming the materials.</p><p>&nbsp;</p><p>Because The Neutralizer is <strong>dry and scent-free</strong>, theres no sticky residue, no aerosol hanging in the air, and nothing to clash with your cologne or sensitive nose.</p><p>&nbsp;</p>"},{"type":"html","id":"gg11cRuTdvo_text","label":"gg11cRuTdvo_text","default":"<p><span style=\"font-size:19px;\"><strong>Why the usual fixes keep letting you down</strong></span></p><p>&nbsp;</p><p><strong>Sprays</strong> leave shoes <strong>wet</strong> and add fragrance that mixes with stink.</p><p>&nbsp;</p><p><strong>Powders</strong> turn to <strong>paste</strong> with sweat and dust your socks.</p><p>&nbsp;</p><p><strong>Air them out</strong> helps some, but <strong>doesnt capture</strong> odor molecules already bonded to the lining.</p><p>&nbsp;</p><p><strong>The Neutralizer</strong> tackles both parts at once: <strong>moisture out + odor locked away</strong>.</p><p>&nbsp;</p>"},{"type":"html","id":"ggdYS3c8rSf_text","label":"ggdYS3c8rSf_text","default":"<p><span style=\"font-size:19px;\"><strong>How it fits your life (zero friction)</strong></span></p><p>&nbsp;</p><p>Drop the pouches in at night. Thats it.</p><p>&nbsp;</p><p>Works with leather, mesh, knit, everyday shoes to gym trainers.</p><p>&nbsp;</p><p><strong>Reusable for 3 months</strong>; just air them out weekly (sun helps).</p><p>&nbsp;</p><p>Toss a pair in your <strong>gym bag or carry-on</strong> to keep everything neutral.</p><p>&nbsp;</p>"},{"type":"html","id":"ggILTKVtSKO_text","label":"ggILTKVtSKO_text","default":"<span style=\"font-size:31px;\"><strong>Real-World Wins:&nbsp;</strong></span>"},{"type":"html","id":"ggO4Hswpy18_text","label":"ggO4Hswpy18_text","default":"<p><span style=\"color:#FFFFFF;\"><strong>Ronald L.</strong></span></p><p><i>Verified Customer&nbsp;</i></p>"},{"type":"html","id":"ggHbAGpprMT_text","label":"ggHbAGpprMT_text","default":"<p><strong>Friends shoes-off house</strong></p>"},{"type":"html","id":"gggGQ-J3FX3_text","label":"gggGQ-J3FX3_text","default":"<p>My friends make everyone take shoes off at the door and I used to panic. I tried the one-shoe test and by morning the treated shoe smelled like <strong>nothing</strong>. The next hangout I slipped my shoes off without thinking. I keep a pair of pouches by the door now, no sprays, no stress.</p>"},{"type":"html","id":"ggEqqqY0LSG_text","label":"ggEqqqY0LSG_text","default":"<p><span style=\"color:#FFFFFF;\"><strong>Sarah M.</strong></span></p><p><i>Verified Customer&nbsp;</i></p>"},{"type":"html","id":"ggc1ICWIHn8_text","label":"ggc1ICWIHn8_text","default":"<p><strong>Work desk</strong></p>"},{"type":"html","id":"ggX0sAULqnr_text","label":"ggX0sAULqnr_text","default":"<p>My feet get hot at the office so I never dared slip my shoes off under the desk. I dropped The Neutralizer in my flats overnight and they were neutral the next morning. No perfume cloud, no wet spray, just nothing. Now I can relax at my desk and I use the pouches every night.</p>"},{"type":"html","id":"gg-ArZo_F19_text","label":"gg-ArZo_F19_text","default":"<p><span style=\"color:#FFFFFF;\"><strong>Kenneth T.</strong></span></p><p><i>Verified Customer&nbsp;</i></p>"},{"type":"html","id":"ggIszS5ai8I_text","label":"ggIszS5ai8I_text","default":"<p><strong>Home with partner/roommates</strong></p>"},{"type":"html","id":"ggdPwBiX35a_text","label":"ggdPwBiX35a_text","default":"<p>I was embarrassed that the shoe rack by our door made the living room smell. Two nights with the pouches and the stink was just gone. No powder mess or scent left behind. Its part of my nightly routine now and nobody mentions the shoes anymore.</p>"},{"type":"html","id":"gghT4lmZnp8_text","label":"gghT4lmZnp8_text","default":"<p><span style=\"font-size:19px;\"><strong>Everything Else vs. The Neutralizer</strong></span></p>"},{"type":"html","id":"ggfqXGAsCji_text","label":"ggfqXGAsCji_text","default":"<p>Shoe Deodorizers</p>"},{"type":"html","id":"ggRwCSVvv5L_childItem_0","label":"ggRwCSVvv5L_childItem_0","default":"<p>Only hides the smell for a few hours</p>"},{"type":"html","id":"ggRwCSVvv5L_childItem_1","label":"ggRwCSVvv5L_childItem_1","default":"<p>Needs daily spraying or reapplying</p>"},{"type":"html","id":"ggRwCSVvv5L_childItem_2","label":"ggRwCSVvv5L_childItem_2","default":"<p>Leaves shoes damp or sticky</p>"},{"type":"html","id":"ggRwCSVvv5L_childItem_3","label":"ggRwCSVvv5L_childItem_3","default":"<p>Filled with chemicals or fake scents</p>"},{"type":"html","id":"ggRwCSVvv5L_childItem_4","label":"ggRwCSVvv5L_childItem_4","default":"<p>Runs out fast and costs more over time</p>"},{"type":"html","id":"ggV8AKNJFLp_text","label":"ggV8AKNJFLp_text","default":"<p>The Neutralizer</p>"},{"type":"html","id":"ggLh4uh02eL_childItem_0","label":"ggLh4uh02eL_childItem_0","default":"<p>Eliminates odor completely overnight</p>"},{"type":"html","id":"ggLh4uh02eL_childItem_1","label":"ggLh4uh02eL_childItem_1","default":"<p>Works automatically while you sleep</p>"},{"type":"html","id":"ggLh4uh02eL_childItem_2","label":"ggLh4uh02eL_childItem_2","default":"<p>Keeps shoes dry and fresh every morning</p><p>&nbsp;</p>"},{"type":"html","id":"ggLh4uh02eL_childItem_3","label":"ggLh4uh02eL_childItem_3","default":"<p>100% natural bamboo charcoal</p><p><br data-cke-filler=\"true\"></p>"},{"type":"html","id":"ggLh4uh02eL_childItem_4","label":"ggLh4uh02eL_childItem_4","default":"<p>Reusable for up to 3 months</p>"},{"type":"html","id":"ggIXVfgd3tp_text","label":"ggIXVfgd3tp_text","default":"<p><span style=\"color:#000000;font-size:19px;\"><strong>Mini-FAQ</strong></span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>How fast does it work?</strong></span><br><span style=\"color:#000000;\">Most people notice the difference after <strong>one night</strong>. Extra-tough shoes (work boots, soaked gym trainers) usually take <strong>12 nights</strong>.</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>Will it harm leather, mesh, or insoles?</strong></span><br><span style=\"color:#000000;\">No, The Neutralizer is <strong>dry</strong> and <strong>scent-free</strong>. Theres no liquid to soak materials and no powder to cake in stitching.</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>Does it leave a smell?</strong></span><br><span style=\"color:#000000;\">No. The goal is <strong>neutral, </strong>your shoes should smell like nothing.</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>How long do the pouches last?</strong></span><br><span style=\"color:#000000;\">Typically <strong>3</strong> <strong>months</strong> with weekly airing. When performance tapers, recharge in the sun/air; replace when needed.</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>Travel/TSA?</strong></span><br><span style=\"color:#000000;\">Theyre <strong>dry</strong> pouches, easy to toss in a carry-on or gym bag to keep everything neutral.</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>What if my case is extreme?</strong></span><br><span style=\"color:#000000;\">Give them 12 nights, or run two pairs in rotation. Pair with occasional cleaning for best results.</span></p>"},{"type":"html","id":"ggT4cV7hjmw_text","label":"ggT4cV7hjmw_text","default":"<p><span style=\"font-size:19px;\"><strong>Who shouldnt buy (so you dont waste time)</strong></span></p><p>&nbsp;</p><p>If you want a <strong>strong perfume</strong>, this isnt for you. The result is <strong>neutral</strong>, not scented.</p><p>&nbsp;</p><p>If youre looking for a <strong>one-time deep clean</strong> for mud or stains, this isnt a cleaner; its for <strong>odor + moisture</strong> between cleans.</p>"},{"type":"html","id":"gg8BRJ9i4tu_text","label":"gg8BRJ9i4tu_text","default":"<p><span style=\"font-size:19px;\"><strong>The moment your anxiety flips to confidence</strong></span></p><p>&nbsp;</p><p>Do the <strong>one-shoe test</strong> tonight.&nbsp;</p><p>&nbsp;</p><p>Wake up, smell both shoes, and feel that jolt of relief when the treated one smells like <strong>nothing</strong>.</p><p>&nbsp;</p><p>Thats the moment most people stop thinking about this problem and start living without the shoe-off stress.</p><p>&nbsp;</p>"},{"type":"html","id":"gg4KAbqk5NM_text","label":"gg4KAbqk5NM_text","default":"<p><span style=\"font-size:19px;\"><strong>The Offer</strong></span></p><p>&nbsp;</p><p>For a limited time, The Neutralizer is available at <strong>33% off</strong>, with <strong>free shipping</strong>.</p><p><br>You can try The Neutralizer with a <strong>60-day money-back guarantee.</strong><br>If your shoes dont smell brand new again, you get a full refund, no questions asked.</p><p>&nbsp;</p><p>Thousands of embarrassed adults have already made the switch.<br>Most say they wish theyd found it sooner.</p><p>&nbsp;</p><p><i>I dont even think about it anymore. My shoes just dont smell.  <strong>Emma D.</strong></i></p>"},{"type":"html","id":"ggdaIVzs8vZ_label","label":"ggdaIVzs8vZ_label","default":"<p>CHECK AVAILABILITY</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}